<div class="container">
  <h2>Trending petitions</h2>
    <div class="row marketing">
      <% @petitions.each do |petition| %>
        <div class="col-lg-6">
          <h4><%= link_to petition.title, petition %> <%= petition.signature_count %></h4>
          <p><%= petition.body %></p>
        </div>
      <% end %>
    </div>
</div>
  




